/* -------------------------------------------------------- */
/*                  Element Class HTML                      */
/* -------------------------------------------------------- */
li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* -------------------------------------------------------- */
/*                        Header                            */
/* -------------------------------------------------------- */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F9F9F9;
    padding: .25rem 2rem;
}

.navbar__logo{
    height: 50px;
}

.navbar__list{
    display: none;
}

.item__link{
    color: #808080;
    margin-right: 1.25rem;
    text-transform: capitalize;
}

.item__link:hover{
    text-decoration: underline;
}

.active{
    color: #333333;
}

.navbar__toggle-dropdown{
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
}

.navbar__dropdown{
    display: block;
    position: absolute;
    right: 0.7rem;
    top: 110px;
    width: 80%;
    height: 0;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1;
}

.dropdown__item{
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.dropdown__link{
    color: #000000;
    text-transform: uppercase;
}

.navbar__dropdown.open{
    height: 200px;
}

/* -------------------------------------------------------- */
/*                        Banner                            */
/* -------------------------------------------------------- */
.banner{
    position: relative;
    height: 45vh;
}

.banner__img{
    background: url("../img/banner.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner__title{
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    color: #FDFDFD;
    font-family: Pacifico, cursive;
    text-transform: capitalize;
    position: absolute;
    top: 50%;
    left: 50%;
    text-shadow: 0 4px 4px rgba(0,0,0,0.75);
    transform: translate(-50%, -50%);
}

/* -------------------------------------------------------- */
/*                      About Us                            */
/* -------------------------------------------------------- */
.about-us{
    padding: 1rem;
    text-align: center;
}

.about-us__title{
    color: #DA2B1F;
    font-family: Pacifico, cursive;
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
}

.about-us__description{
    color: #8C8888;
    font-size: 1.25rem;
    font-weight: 300;
}

/* -------------------------------------------------------- */
/*                    Cooking Recipes                       */
/* -------------------------------------------------------- */
.cooking-recipes{
    background-color: #DAB997;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe__card{
    background-color: #FDFDFD;
    margin-bottom: 2rem;
    border-radius: 10px;
    max-width: 300px;
}

.card__img{
    width: 100%;
    max-width: 300px;
}

.card__title{
    padding: 0.5rem;
    text-transform: uppercase;
}

.card__description{
    padding: 0rem 0.5rem;
    text-align: justify;
}

.card__button{
    color: #FFFFFF;
    background-color: #DA2B1F;
    width: 85%;
    margin: 1rem;
    padding: 0.7rem;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.1rem;
    transition: all .1s ease-in-out;

}

.card__button:hover{
    cursor: pointer;
    background: #9F1010;
}

/* -------------------------------------------------------- */
/*                      Who We Are                          */
/* -------------------------------------------------------- */
.who-we-are{
    padding: 2rem;
    text-align: center;
}

.who-we-are__title{
    color: #DA2B1F;
    font-family: Pacifico, cursive;
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
}

.who-we-are__description{
    color: #8C8888;
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 1.25rem;
}

.people{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.person__card{
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5rem;
    width: 200px;
}

.card__image{
    height: 200px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;

}

.card__image--roberta{
    background-image: url('../img/personas/roberta.jpg');
}

.card__image--marcela{
    background-image: url('../img/personas/marcela.jpg');
}

.card__image--andrea{
    background-image: url('../img/personas/andrea.jpg');
}

.card__name{
    color: #DA2B1F;
    font-family: Pacifico, cursive;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin: 0.3rem 0;
}

.card__work{
    text-transform: capitalize;
    color: #8C8888;
    font-size: 1.25rem;
    font-weight: 300;
}

/* -------------------------------------------------------- */
/*                         Footer                           */
/* -------------------------------------------------------- */
.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1.5rem;
}

.footer__title{
    text-transform: capitalize;
    color: #8C8888;
    font-weight: 400;
    font-size: 1.25rem;
    padding: 0.5rem;
}

.footer__description{
    text-transform: capitalize;
    color: #8C8888;
    font-size: 1.25rem;
    font-weight: 300;
    padding: 0.5rem;
}

.footer__list{
    display: flex;
    gap: 2rem;
}

/* -------------------------------------------------------- */
/*                     Media Querys                         */
/* -------------------------------------------------------- */
@media (min-width: 576px){
    /* Navbar */
    .navbar__dropdown{
        width: 50%;
    }
    /* Banner */
    .banner__title{
        font-size: 2.5rem;
    }
    /* About Us */
    .about-us__title{
        font-size: 2rem;
    }

    /* Who we are */
    .person__card{
        width: 250px;
    }
    
    .card__image{
        height: 250px;
        width: 250px;    
    }
}

@media (min-width: 768px){
    /* Navbar */
    .navbar__toggle-dropdown{
        display: none;
    }

    .navbar__list{
        display: flex;
    }

    /* Banner */
    .banner{
        position: relative;
        height: 60vh;
    }

    /* Cooking Recipes */
    .cooking-recipes{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .recipe__card{
        margin: 1rem;
    }

    /* Who We Are */
    .who-we-are__title{
        font-size: 2rem;
    }

    .people{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .person__card{
        align-items: center;
    }

    .card__image{
        width: 200px;
        height: 200px;
    }

    .footer{
        flex-direction: row;
    }

    .footer__list{
        flex-direction: row;
    }
}

@media (min-width: 992px){

    /* Navbar */
    .navbar__list{
        font-size: 1.25rem;
    }

    /* Banner */
    .banner__title{
        font-size: 3.5rem;
    }

    /* About Us */
    .about-us__title{
        font-size: 2.5rem;
    }

    .about-us__description{
        font-size: 1.5rem;
    }

    /* Who we Are */
    .who-we-are__title{
        font-size: 2.5rem;
    }

    .who-we-are__description{
        font-size: 1.5rem;
    }

    /* Footer */
    .footer__list{
        gap: 3rem;
    }
}

@media (min-width: 1200px){

}

@media (min-width: 1920px){

}